<div class="row">
  <h4>Marketing assets</h4>
  <a class="btn btn-primary" routerLink="/">Back</a>
</div>
<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Logos</th>
        <th scope="col">Images</th>
        <th scope="col">Videos</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row"><p>insert png</p></th>
        <th scope="row"><p>insert png</p></th>
        <th scope="row"><p>insert mp4</p></th>
      </tr>
      <tr>
        <th scope="row"><p>insert png</p></th>
        <th scope="row"><p>insert png</p></th>
        <th scope="row"><p>insert mp4</p></th>
      </tr>
      <tr>
        <th scope="row"><p>insert png</p></th>
        <th scope="row"><p>insert png</p></th>
        <th scope="row"><p>insert mp4</p></th>
      </tr>
    </tbody>
  </table>
</div>
