.row {
  margin: 0 auto;
  margin-top: 20px;
}

.btn-primary {
  background-color: #ffb000;
  color: #00204a;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
}

.title {
  text-align: center;
  color: #00204a;
  font-size: 20px;
  margin-bottom: 20px;
}

.table-responsive.table-striped {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.table {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  color: #00204a;
  width: 100%;
}

.table th,
.table td {
  border: none;
  padding: 10px;
  text-align: center;
  color: #00204a;
}

.table th {
  font-weight: bold;
  color: #00204a;
}
