/* Container styles */

.container {
  height: 90vh;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 40px;
}

/* Title and description */
.page-title {
  text-align: center;
  color: #00204a;
  margin-bottom: 20px;
}

.description {
  text-align: center;
  color: #6c757d;
}

.btn-primary {
  display: flex;
  margin: 0 auto;
  text-align: center;
  padding: 10px 20px;
  background-color: #3f4d61;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Analytics section */
.analytics {
  margin: 8px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  background-color: #f9f9f9;
  margin-bottom: 40px;
}

.section-title {
  text-align: center;
  color: #6c757d;
  margin-bottom: 20px;
}

/* Analytics detail box */
.analytics-detail {
  background-color: #f1f1f1;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 5px;
  transition: transform 0.3s ease;
  background: #fdfdfd;
  margin-bottom: 15px;
  padding: 15px;
  border-left: 4px solid #ffb000; /* Yellow left border */
  border-radius: 15px; /* Rounded corners for sections */
}

.analytics-detail:hover {
  transform: scale(1.03);
}

.analytics-detail strong {
  font-size: 1.2em;
  color: #343a40;
}
