<div class="container">
  <button class="back-button" routerLink="/dashboard">Back</button>
  <!-- Page Title -->
  <h1 class="page-title">Izaka</h1>

  <!-- Analytics Section -->
  <div class="analytics">
    <!-- Order Stats -->
    <div class="analytics-detail">
      Most ordered items: <strong>12L Scones</strong>
    </div>
    <div class="analytics-detail">
      Busiest month: <strong> July 2024</strong>
    </div>

    <div class="analytics-detail">
      Most ordered area: <strong> Hermanus</strong>
    </div>

    <!-- Product Stats -->
    <div class="analytics-detail">
      Most re-ordered items:<strong>Carrot cake 10cm</strong>
    </div>
  </div>

  <div>
    <button class="btn btn-primary">Download overview</button>
  </div>
</div>
